<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.jewelry">


    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!--获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!--写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">


        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="2a4ed05ea0ddacbd6937092c8a633a56">//开发者申请的key</meta-data>

        <activity android:name=".homepage.jewerydisplay.JewelryDisplayActivity" />
        <activity android:name=".homepage.pricetrend.branddetail.BrandDetailActivity" />
        <activity android:name=".homepage.MajorTrain.MajorTrainActivity" />

        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".jewelrymap.JewelryMapActivity" />
        <activity android:name=".homepage.pricetrend.PriceTrendActivity" />

        <activity android:name=".homepage.qualificationcertification.QualificationActivity" />
        <activity android:name=".homepage.certificate.CertificateActivity" />
        <activity android:name=".homepage.jewerydisplay.NewDetailActivity" />
        <activity android:name=".homepage.MainActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name=".login.LoginActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--积分商城-->
        <activity android:name=".homepage.integral.IntegralStoreActivity" />
        <activity android:name=".homepage.integral.DetailsCommodityActivity" />
        <activity android:name=".homepage.integral.JewelryActivity" />
        <activity android:name=".homepage.integral.CorrelationActivity" />
        <activity android:name=".homepage.integral.MajorPeriodicalActivity" />

        <!--热门活动-->
        <activity android:name=".homepage.hot_activity.HotActivity" />
        <activity android:name=".homepage.hot_activity.HotDetailsActivity" />
        <activity android:name=".homepage.hot_activity.ParticipateHotActivity" />

        <!--专属功能-->
        <activity android:name=".homepage.exclusive.ExpandConnectionActivity" />
        <activity android:name=".homepage.exclusive.FeedBackActivity" />
        <activity android:name=".homepage.exclusive.IssueWindowsActivity" />
        <activity android:name=".homepage.exclusive.SearchRimActivity" />
        <activity android:name=".homepage.exclusive.SeekServiceActivity" />

        <!--资讯页面-->
        <activity android:name=".information.HotWriterActivity" />
        <activity android:name=".forhelp.OnlineDetailsActivity" />


        <!--求助发布-->
        <activity android:name=".forhelp.release.ReleaseHelpActivity" />
        <activity android:name=".forhelp.release.OnlineReleaseActivity" />
        <activity android:name=".forhelp.release.OfflineReleaseActivity" />
        <activity android:name=".forhelp.release.CircuseeReleaseActivity" />
        <activity android:name=".forhelp.release.AnswerActivity" />
        <activity android:name=".forhelp.release.ClassifyNameActivity" />

        <!--个人中心-->
        <activity android:name=".mine.my_home_page.MyHomePageActivity" />

    </application>

</manifest>